@model OgrenciDuzenleViewModel
@{
    ViewBag.Title = "Öğrenci Düzenleme";
}

<h1>Öğrenciyi Düzenle</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Ad" class="form-label"></label>
        <input asp-for="Ad" class="form-control">
        <div class="form-text text-danger">
            <span asp-validation-for="Ad"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="DogumYili" class="form-label"></label>
        <input asp-for="DogumYili" class="form-control">
        <div class="form-text text-danger">
            <span asp-validation-for="DogumYili"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="TakimId" class="form-label"></label>
        <select asp-for="TakimId" asp-items="ViewBag.Takimlar" class="form-select">
            <option value="">Seçiniz</option>
        </select>
        <div class="form-text text-danger">
            <span asp-validation-for="TakimId"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a class="btn btn-secondary" asp-action="Index">Vazgeç</a>
</form>